h2{
    text-align: center;
    font-family: 'Cinzel';font-size: 25px;
  }

#bps {
  font-family:'Cinzel';
  text-align: center;
}

/* color information for selections for map to bars */
  .selection1
  {
    fill: #ff0000;		/* red */
    stroke: #ff0000;
  }
  
  .selection2
  {
    fill: #009933;		/* green */		
    stroke: #009933;
  }

  .selection3
  {
    fill: #3333ff;		/* blue */  
    stroke: #3333ff;
  }

  .selection4
  {
    fill: #660066; /* dark purple */
    stroke: #660066;
  }

  .selection5
  {
    fill: #ff9900;		/* orange */
    stroke: #ff9900;
  }


  .active{

    stroke-width: 1.5px;

    fill: white;

    stroke: yellow;

  }


/* style for the map */
.counties {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
}

/*for drop down menu*/

.container {
    overflow: hidden;
    background-color: #333;
    font-family: 'Cinzel';
}

.container a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 11px;    
    font-family: 'Cinzel';
    border: none;
    outline: none;
    color: white;
    padding: 9px 11px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.show {
    display: block;
}

#chord {
	font-family:'Cinzel';
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
	height: 900px;
}
#chord-chart {
	width:750px;
	height:750px;
	position: relative;
	float:left;
}

#chord-chart-blurb {
	float: right;
	position: relative;
	width: 300px;
	height:300px;
	top:400px;
	right:80px;
	text-align: center;

}

text.group-label {
	font-family:'Cinzel';
	word-wrap:break-word;
}

path.fade{
	display: none;
}
  /*for bipartite clicking*/
.currentbp {
    stroke-width: 10px;
  }

#bipartite {
  width: 1200px;
  margin: auto;
}

/* for scatterplot */
#scatterplot {
  width: 1200px;
  margin: auto;
}

/*d3-tips tooltip*/

.tooltip {
  width: 130px;
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}
