h1, h4{
     text-align: center;
     font-family: 'Cinzel'; font-size: 15px;
}

h2{
    text-align: center;
    font-family: 'Cinzel'; font-size: 25px;
  }


#bps {
  font-family:'Cinzel';
  text-align: center;
}

/* color information for selections for map to bars */
  .selection1bar
  {
    fill: #ff0000;		/* red */
  }
  
  .selection2bar
  {
    fill: #009933;		/* green */		
  }

  .selection3bar
  {
    fill: #3333ff;		/* blue */  
  }

  .selection4bar
  {
    fill: #660066; /* dark purple */
  }

  .selection5bar
  {
    fill: #ff9900;		/* orange */
  }

  .selection1path
  {
    stroke: #ff0000;
    stroke-width: 3px;
  }
  
  .selection2path
  {	
    stroke: #009933;
    stroke-width: 3px;
  }

  .selection3path
  {
    stroke: #3333ff;
    stroke-width: 3px;
  }

  .selection4path
  {
    stroke: #660066;
    stroke-width: 3px;
  }

  .selection5path
  {
    stroke: #ff9900;
    stroke-width: 3px;
  }

  
  .hovered{

    stroke-width: 3px;

    fill-opacity: 0.6;

    stroke: yellow;

  }

  
  #maptooltip{
    position: absolute;
    display: none;
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:16px;
		width:auto;
		padding:4px;
		color:white;
	  text-align: justify;
	}

	#bartooltip{
    position: absolute;
    display: none;
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:16px;
		width:auto;
		padding:4px;
		color:white;
	  text-align: justify;
	}

  #desctooltip{
    position: absolute;
    display: none;
		background: #fff;
		border:1px solid grey;
		border-radius:5px;
		font-size:16px;
		width:auto;
		padding:4px;
		color: black;
	  text-align: justify
	}

/* style for the map */
.counties {
  fill: #666666;
  stroke: #999999;
  stroke-width: 0.5px;
}

.states {
  fill: none;
  stroke: #999999;
  stroke-width: 1px;
  stroke-linejoin: round;
}

/*for drop down menu*/

.container {
    overflow: hidden;
    background-color: #333;
    font-family: 'Cinzel';
}

.container a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 11px;    
    font-family: 'Cinzel';
    border: none;
    outline: none;
    color: white;
    padding: 9px 11px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.show {
    display: block;
}

#chord {
	font-family:'Cinzel';
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
	height: 900px;
}
#chord-chart {
	width:750px;
	height:750px;
	position: relative;
	float:left;
}

#chord-chart-blurb {
	float: right;
	position: relative;
	width: 300px;
	height:300px;
	top:400px;
	right:80px;
	text-align: center;

}

text.group-label {
	font-family:'Cinzel';
	word-wrap:break-word;
}

path.fade{
	display: none;
}
  /*for bipartite clicking*/
.currentbp {
    stroke-width: 10px;
  }

#bipartite {
  width: 1200px;
  margin: auto;
}

/* for scatterplot */
#scatterplot {
  width: 1200px;
  margin: auto;
}

/*d3-tips tooltip*/

.tooltip {
  width: 130px;
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}
